html {
  --background: #fcfcfc;
  --on-background: #242424;
  --on-background-stronger: #101010;
  --on-background-muted: #7a7a7a;
  --primary: #bc00eb;
  --outline: #dcdcdc;

  --code-bg: #f4f5f7;
  --on-code: #353535;
  --code-bg-highlight: #a2e3e3bc;
  --code-border-highlight: #00a377db;
  --inlineCode-bg: #c3c0b554;
  --inlineCode-text: #1a1a1a;

  --link: #1f668c;
  --link-hover: #0994df;
}

html.dark {
  --background: #141612;
  --on-background-stronger: #f8f8f8;
  --on-background: #e6e6e6;
  --on-background-muted: #a5a0a8;
  --primary: #d157e9;
  --outline: #303532;

  --code-bg: #191f1f;
  --on-code: #f2f1f1;
  --code-bg-highlight: #255c5cac;
  --code-border-highlight: #04bcbcdb;
  --inlineCode-bg: #64646457;
  --inlineCode-text: #e5e3e3;

  --link: #609dcb;
  --link-hover: #40a9f9;
}
