html {
  --background: #fcfcfc;
  --on-background: #242424;
  --on-background-stronger: #101010;
  --on-background-muted: #7a7a7a;
  --primary: #bc00eb;

  --outline: #dcdcdc;

  --code-bg: #f4f5f7;
  --on-code: #353535;
  --code-bg-highlight: #b9e7f6bc;
  --code-border-highlight: #009cd5db;
  --inlineCode-bg: #c3c0b554;
  --inlineCode-text: #1a1a1a;

  --surface: #eee3f1;

  --link: #1f668c;
  --link-hover: #0994df;
}

html.dark {
  --background: #141612;
  --on-background-stronger: #f8f8f8;
  --on-background: #dedede;
  --on-background-muted: #a5a0a8;
  --primary: #d157e9;
  --outline: #303532;

  --code-bg: #191f1f;
  --on-code: #f2f1f1;
  --code-bg-highlight: #1c4552ac;
  --code-border-highlight: #08a4a4db;
  --inlineCode-bg: #64646457;
  --inlineCode-text: #e5e3e3;

  --surface: #1e1e20;

  --link: #609dcb;
  --link-hover: #40a9f9;
}
