@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofINeaBTMnFcQ.woff2)
    format("woff2");
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Nunito";
  @apply font-light;
}

h1 {
  @apply font-light;
}

img {
  object-fit: cover;
}
