@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lexend Variable';
  @apply font-lighter
}

h1 {
  @apply font-light
}

img {
  object-fit: cover;
}